
body {
    /*width: 4096px;
    height:2027px;*/
    /*margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;*/
    
    background: linear-gradient(to right, #00C1B5 250px , #1D1C1C 0%);
    text-align: center;
}

/*@-ms-viewport{
    width: device-width;
}*/

h1 {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size-adjust: inherit;
	font-style: bold;
	font-size: 3.9vw;
/*	margin-top: 100px;
	margin-left:400px;*/
	line-height: 50px;
	text-align: left;
}

h2 {
/*	margin-top: 5px;*/
    /*margin-bottom: 122px;*/
/*    margin-right: 150px;
    margin-left: 410px;*/
	font-family: Montserrat;
	font-style: regular;
	font-size: 2.2vw;
	line-height: 0px;
	text-align: left;
	color:#FFFFFF;
}

p {
/*	margin-top: 1px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 410px;*/
	font-style: regular;
	font-size: 1.2vw;
	line-height: 0px;
	text-align: left;
    color: #BBB0B0;
    font-family: Montserrat;

}

/*#mainpar{
	background-color: red;
}*/

div#mainpar {
	margin-left: 400px;
    text-align: center;
    width: 70%;
}