body {
    /*height: 100%;*/
    /*background-color:#00C1B5;*/
    /*background-image: url("icons_images/Rectangle2.png");*/
    /*background-repeat: repeat-y;*/
    background: linear-gradient(to right, #00C1B5 20% , #1D1C1C 0%), no-repeat;
    /*text-align: center;*/
    /*background-size: 20% auto;*/
}

/*
@-ms-viewport{
    width: device-width;
}

h1 {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size-adjust: inherit;
	font-style: bold;
	font-size: 3.9vw;
	margin-top: 100px;
	margin-left:400px;
	line-height: 50px;
	text-align: left;
}

h2 {
	margin-top: 5px;
    margin-bottom: 122px;
    margin-right: 150px;
    margin-left: 410px;
	font-family: Montserrat;
	font-style: regular;
	font-size: 2.2vw;
	line-height: 0px;
	text-align: left;
	color:#FFFFFF;
}

p {
	margin-top: 1px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 410px;
	font-style: regular;
	font-size: 1.2vw;
	line-height: 0px;
	text-align: left;
    color: #BBB0B0;
    font-family: Montserrat;

}*/

/*#mainpar{
	background-color: red;
}*/

.mainpar {
	margin-left: 20%;
    /*text-align: center;
    background: linear-gradient(to right, #00C1B5 250px , #1D1C1C 0%);
    width: 70%;*/
}


.myinfo {
    width: 100%;
}

.myinfo h1 {
    padding: 30px 30px 20px;
    font-family: Montserrat;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 44px;

}

.myinfo h2 {
    /*padding: 0px 30px 20px;*/
    font-family: Montserrat;
    font-size: 25px;
    color: #FFFFFF;
    line-height: 30px;

}

.myinfo p1 {
   /* padding: 0px 30px 20px;*/
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;

}

.myinfo p2 {
    /*padding: 0px 30px 20px;*/
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;

}

@media only screen and (min-width: 320px) {
    body {
        background: linear-gradient(#1D1C1C 100%);  
    }
}
@media only screen and (min-width: 768px) {
 

}