body {
    /*height: 100%;*/
    /*background-color:#00C1B5;*/
    /*background-image: url("icons_images/Rectangle2.png");*/
    /*background-repeat: repeat-y;*/
    background-color: #1D1C1C;
    /*background: linear-gradient(to right, #00C1B5 20% , #1D1C1C 0%), no-repeat;*/
    /*text-align: center;*/
    /*background-size: 20% auto;*/
}

/*
@-ms-viewport{
    width: device-width;
}

h1 {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size-adjust: inherit;
	font-style: bold;
	font-size: 3.9vw;
	margin-top: 100px;
	margin-left:400px;
	line-height: 50px;
	text-align: left;
}

h2 {
	margin-top: 5px;
    margin-bottom: 122px;
    margin-right: 150px;
    margin-left: 410px;
	font-family: Montserrat;
	font-style: regular;
	font-size: 2.2vw;
	line-height: 0px;
	text-align: left;
	color:#FFFFFF;
}

p {
	margin-top: 1px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 410px;
	font-style: regular;
	font-size: 1.2vw;
	line-height: 0px;
	text-align: left;
    color: #BBB0B0;
    font-family: Montserrat;

}*/

/*#mainpar{
	background-color: red;
}*/


.mainpar {
    margin-left: 26%;
    padding-left:10px;
    font-size: 28px;
    /*text-align: center;
    background: linear-gradient(to right, #00C1B5 250px , #1D1C1C 0%);
    width: 70%;*/
}


.myinfo {
    width: 100%;
}

/*.myinfo h1 {
    padding: 30px 30px 20px;
    font-family: Montserrat;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 0px;

}*/

.myinfo h2 {
    /*padding: 0px 30px 20px;*/
    font-family: Montserrat;
    font-size: 25px;
    color: #FFFFFF;
    line-height: 0px;

}

.social-medias {
    margin: 80px;
}

.myinfo {
    padding: 0px 30px;
}

.email-link {
    color: #00C1B5;
    font: Montserrat;
}

.myinfo p1 {
   /* padding: 0px 30px 20px;*/
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;

}

.myinfo p2 {
    /*padding: 0px 30px 20px;*/
    font-family: Montserrat;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;

}

.colorCyanHi {
    color:#00C1B5;
    /*font-size: */
}

.colorCyanComma {
    color:#00C1B5; 
}

.colorWhiteText {
    color:#FFFFFF;
}

.nameplate-title {
    padding: 30px 2px;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 380px) {
    .colorCyanComma {
        display: none;
    }
}

/*@media only screen and (min-width: 768px) {
 

}*/

.sidenav {
    height: 100%; 
    width: 26%; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #00C1B5; 
    overflow-x: hidden;
    padding-top: 200px;
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}